@tailwind base;
@tailwind components;
@tailwind utilities;

.thick-underline {
  background-image: linear-gradient(to right, rgb(8 145 178), rgb(8 145 178));
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 20%;
}
.thick-underline-white {
  background-image: linear-gradient(to right, rgb(34 211 238), rgb(34 211 238));
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 20%;
}

.big-text {
  @apply text-3xl font-bold sm:text-4xl;

  strong {
    @apply thick-underline font-bold;
  }

  &.alt {
    strong {
      @apply thick-underline-white;
    }
  }
}

.btn {
  @apply py-3 px-5 bg-cyan-600 hover:bg-cyan-500 text-white rounded cursor-pointer;

  &.alt {
    @apply bg-transparent text-white rounded border-2 border-cyan-600;
  }
}

* {
  @apply focus-visible:outline-none;
}
